SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
ADMIN_PASSWORD=
OWNER_PANEL_PASSWORD=
MARKET_ADMIN_PASSWORD=
ADMIN_JWT_SECRET=
TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
PUBLIC_BASE_URL=https://cerber-project.onrender.com
ALLOWED_ORIGINS=https://cerber-project.onrender.com,https://cerber.to,https://www.cerber.to,https://cerber.love,https://www.cerber.love,https://cerber.vip,https://www.cerber.vip
USER_SESSION_TTL_HOURS=72
ALLOW_ADMIN_LOG_DELETE=false
NOWPAYMENTS_API_KEY=
NOWPAYMENTS_PUBLIC_KEY=
NOWPAYMENTS_IPN_SECRET=
NOWPAYMENTS_LTC_WALLET=
NOWPAYMENTS_PAYOUTS_ENABLED=false
NOWPAYMENTS_EMAIL=
NOWPAYMENTS_PASSWORD=
NOWPAYMENTS_PAYOUT_2FA_SECRET=
TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_SECRET=
PROVERKA_BOT_TOKEN=
SITE_NOTIFY_BOT_TOKEN=
