node_modules/

.env
.env.*
!.env.example
.envrc
.direnv/

*.log
*.pem
*.key
*.p12
*.pfx
*.crt
*.cer
*.der
*.ppk
*.jks
*.keystore
*.ovpn
*.kdbx
id_rsa
id_ed25519
id_ecdsa
id_dsa
.ssh/
secrets/
credentials/
*.secret
*.dump
*.sql.gz
*.bak
*.backup
*.old
*.orig
*.zip
*.tar
*.tar.gz

coverage/
.nyc_output/
playwright-report/
test-results/

.cache/
.tmp/
tmp/
browser-profile/
user-data-dir/
